examples/payment-to-agreement.json
{
  "name": "Send service agreements after Stripe payment",
  "nodes": [
    {
      "parameters": {
        "content": "## Send service agreements after Stripe payment\n\nThis workflow sends a service agreement for e-signature via [VisiSign](https://visisign.app) after a Stripe checkout completes, then provisions the customer's account once they sign.\n\n**Who is this for?**\nSaaS companies, agencies, and service providers who need a signed agreement before activating a customer's account or delivering services.\n\n**How it works**\n1. Stripe sends a `checkout.session.completed` webhook after payment\n2. VisiSign sends the service agreement to the customer\n3. When the customer signs, VisiSign fires a completion webhook\n4. The workflow provisions the account and sends a welcome email\n5. The signed PDF is downloaded and archived to S3\n\n**Requirements**\n- [VisiSign account](https://app.visisign.app/signup) with an API key\n- Stripe account with checkout enabled\n- The `n8n-nodes-visisign` community node installed (self-hosted n8n only)\n\n**How to set up**\n1. Install the community node: Settings → Community Nodes → `n8n-nodes-visisign`\n2. Add your VisiSign API key as credentials\n3. In Stripe → Developers → Webhooks, add the webhook URL and select `checkout.session.completed`\n4. Replace the agreement PDF URL with your own\n5. Update the provisioning endpoint with your app's API\n6. Activate the workflow",
        "height": 640,
        "width": 420,
        "color": 1
      },
      "id": "c1000000-0000-4000-8000-000000000000",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-200, 80]
    },
    {
      "parameters": {
        "content": "### 1. Payment → send agreement\nStripe checkout completes → verify event type → VisiSign sends agreement to the customer.",
        "height": 120,
        "width": 520,
        "color": 7
      },
      "id": "c1000000-0000-4000-8000-000000000010",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [260, 100]
    },
    {
      "parameters": {
        "content": "### 2. Signed → provision + welcome\nAgreement signed → provision account → send welcome email.",
        "height": 120,
        "width": 300,
        "color": 7
      },
      "id": "c1000000-0000-4000-8000-000000000011",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [260, 400]
    },
    {
      "parameters": {
        "content": "### 3. Archive signed PDF\nDownload the signed agreement and store it in S3 or your preferred storage.",
        "height": 120,
        "width": 300,
        "color": 7
      },
      "id": "c1000000-0000-4000-8000-000000000012",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [260, 620]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "stripe-payment",
        "responseMode": "onReceived",
        "responseData": "allEntries",
        "options": {}
      },
      "id": "c1b2c3d4-0001-4000-8000-000000000001",
      "name": "Stripe Checkout Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [300, 240],
      "webhookId": "stripe-payment"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.type }}",
              "rightValue": "checkout.session.completed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c1b2c3d4-0002-4000-8000-000000000002",
      "name": "Verify Stripe Event",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [540, 240]
    },
    {
      "parameters": {
        "resource": "signatureRequest",
        "operation": "create",
        "title": "={{ 'Service Agreement — ' + $('Stripe Checkout Webhook').item.json.data.object.customer_details.name }}",
        "fileUrl": "https://your-storage.com/templates/service-agreement.pdf",
        "signers": {
          "signer": [
            {
              "name": "={{ $('Stripe Checkout Webhook').item.json.data.object.customer_details.name }}",
              "email": "={{ $('Stripe Checkout Webhook').item.json.data.object.customer_details.email }}"
            }
          ]
        },
        "message": "={{ 'Hi ' + $('Stripe Checkout Webhook').item.json.data.object.customer_details.name + ',\\n\\nThank you for your purchase! Please review and sign the service agreement to activate your account.' }}"
      },
      "id": "c1b2c3d4-0003-4000-8000-000000000003",
      "name": "Send Agreement via VisiSign",
      "type": "n8n-nodes-visisign.visiSign",
      "typeVersion": 1,
      "position": [780, 240],
      "credentials": {
        "visiSignApi": {
          "id": "1",
          "name": "VisiSign API"
        }
      }
    },
    {
      "parameters": {
        "events": ["signature_request.completed"]
      },
      "id": "c1b2c3d4-0004-4000-8000-000000000004",
      "name": "Agreement Signed Trigger",
      "type": "n8n-nodes-visisign.visiSignTrigger",
      "typeVersion": 1,
      "position": [300, 540],
      "webhookId": "visisign-agreement-done",
      "credentials": {
        "visiSignApi": {
          "id": "1",
          "name": "VisiSign API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.your-app.com/accounts/provision",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $credentials.appApiKey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $json.signature_request.signers[0].email }}"
            },
            {
              "name": "name",
              "value": "={{ $json.signature_request.signers[0].name }}"
            },
            {
              "name": "signature_request_id",
              "value": "={{ $json.signature_request.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c1b2c3d4-0005-4000-8000-000000000005",
      "name": "Provision Customer Account",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [540, 540]
    },
    {
      "parameters": {
        "fromEmail": "welcome@yourcompany.com",
        "toEmail": "={{ $('Agreement Signed Trigger').item.json.signature_request.signers[0].email }}",
        "subject": "Your account is ready",
        "emailType": "text",
        "message": "={{ 'Hi ' + $('Agreement Signed Trigger').item.json.signature_request.signers[0].name + ',\\n\\nYour agreement has been signed and your account is now active.\\n\\nLog in at: https://app.yourcompany.com\\n\\nWelcome aboard!' }}"
      },
      "id": "c1b2c3d4-0006-4000-8000-000000000006",
      "name": "Send Welcome Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [780, 540]
    },
    {
      "parameters": {
        "resource": "signatureRequest",
        "operation": "downloadFile",
        "requestId": "={{ $('Agreement Signed Trigger').item.json.signature_request.id }}"
      },
      "id": "c1b2c3d4-0007-4000-8000-000000000007",
      "name": "Download Signed Agreement",
      "type": "n8n-nodes-visisign.visiSign",
      "typeVersion": 1,
      "position": [540, 760],
      "credentials": {
        "visiSignApi": {
          "id": "1",
          "name": "VisiSign API"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://your-storage.com/signed-agreements/{{ $('Agreement Signed Trigger').item.json.signature_request.id }}.pdf",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/pdf"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "options": {}
      },
      "id": "c1b2c3d4-0008-4000-8000-000000000008",
      "name": "Archive to S3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [780, 760]
    }
  ],
  "connections": {
    "Stripe Checkout Webhook": {
      "main": [
        [
          {
            "node": "Verify Stripe Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Stripe Event": {
      "main": [
        [
          {
            "node": "Send Agreement via VisiSign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agreement Signed Trigger": {
      "main": [
        [
          {
            "node": "Provision Customer Account",
            "type": "main",
            "index": 0
          },
          {
            "node": "Download Signed Agreement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Provision Customer Account": {
      "main": [
        [
          {
            "node": "Send Welcome Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Signed Agreement": {
      "main": [
        [
          {
            "node": "Archive to S3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2026-04-20T00:00:00.000Z",
  "versionId": "1"
}
